.category {
    margin-bottom: 2rem;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
}
.listing-card {
    flex: 1 0 30%; /* Three cards per row */
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #ffff;
}
.listing-card img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

.spacing-btn {
    margin-right: 50px; /* Adds 30px space to the right of each button */
}

/* Optional: Remove underline from links and set color */
.spacing-btn a {
    text-decoration: none;
    color: white; /* or any color that matches your theme */
}


.row1{
    background-color: white;
}